In [7]:
import pandas as pd
import numpy as np

sample_numpy_data = np.array(np.arange(50)).reshape((10,5))
sample_numpy_data

starting_date = '20200301'
dates_index=pd.date_range(starting_date,periods=10)
sample_df = pd.DataFrame(sample_numpy_data, columns=list('ABCDE') , index=dates_index)
sample_df

             A   B   C   D   E
2020-03-01   0   1   2   3   4
2020-03-02   5   6   7   8   9
2020-03-03  10  11  12  13  14
2020-03-04  15  16  17  18  19
2020-03-05  20  21  22  23  24
2020-03-06  25  26  27  28  29
2020-03-07  30  31  32  33  34
2020-03-08  35  36  37  38  39
2020-03-09  40  41  42  43  44
2020-03-10  45  46  47  48  49

In [8]:
pd.Series([1,2,3,4,5,6,7,8,9,10], index=pd.date_range(starting_date,periods=10))

2020-03-01     1
2020-03-02     2
2020-03-03     3
2020-03-04     4
2020-03-05     5
2020-03-06     6
2020-03-07     7
2020-03-08     8
2020-03-09     9
2020-03-10    10
Freq: D, dtype: int64

In [9]:
second_numpy_array = np.array(np.arange(len(sample_df)))*100+7
second_numpy_array

array([  7, 107, 207, 307, 407, 507, 607, 707, 807, 907])

In [12]:
sample_df['F'] = second_numpy_array
sample_df

             A   B   C   D   E    F
2020-03-01   0   1   2   3   4    7
2020-03-02   5   6   7   8   9  107
2020-03-03  10  11  12  13  14  207
2020-03-04  15  16  17  18  19  307
2020-03-05  20  21  22  23  24  407
2020-03-06  25  26  27  28  29  507
2020-03-07  30  31  32  33  34  607
2020-03-08  35  36  37  38  39  707
2020-03-09  40  41  42  43  44  807
2020-03-10  45  46  47  48  49  907